*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#F6F0E8;
    color:#4a4a4a;
    line-height:1.6;
}

header{
    background:#F9DCE3;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:1.5rem;
    font-weight:bold;
}

.logo img{
    width:40px;
    height:40px;
    object-fit:cover;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#4a4a4a;
}

nav a:hover{
    color:#c68ab5; 
}

.about{
    display:flex;
    justify-content:center;
    padding:70px 50px;
    background:#fffaf6;
}

.about-text{
    max-width:800px;
    text-align:center;
}

.about h2{
    margin-bottom:20px;
    font-size:2rem;
    color:#6f5d86;
}

.about p{
    margin-bottom:15px;
    font-size:1.05rem;
}

.hero{
    background:linear-gradient(
        135deg,
        #F6F0E8,
        #F9DCE3,
        #E8DDF7
    );

    min-height:50vh;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    text-align:center;
    padding:40px;
    position:relative;
}

.sticker{
    position:absolute;
    top:20px;
    right:40px;

    background:white;
    padding:10px 15px;
    border-radius:30px;
    font-size:.9rem;
    box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
}

.episode{
    display:flex;
    gap:40px;

    padding:60px;
    align-items:center;
}

.book-cover{
    flex:1;
}

.book-cover img{
    width:100%;
    height:450px;
    object-fit:cover;
    display:block;
    border-radius:15px;
}

.episode-text{
    flex:2;
    text-align:center;
}

.episode-text h2{
    margin-bottom:20px;
}

.badge{
    display:inline-block;
    background:#E8DDF7;
    padding:8px 14px;
    border-radius:20px;
    margin-bottom:20px;
}

.recent-episodes{
    padding:60px;
    text-align:center;
}

.recent-episodes h2{
    margin-bottom:10px;
    color:#6f5d86;
}

.recent-episodes p{
    margin-bottom:30px;
}

.card-grid{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    flex:1 1 250px;
    background:#fffaf6;
    border:2px solid #E8DDF7;
    border-radius:15px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
    transition:transform 0.3s ease;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#6f5d86;
    margin-bottom:10px;
}

.episode-number{
    display:inline-block;
    background:#F9DCE3;
    padding:5px 12px;
    border-radius:20px;
    margin-bottom:15px;
    font-size:0.9rem;
}

footer{
    background:#F9DCE3;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    .episode{
        flex-direction:column;
    }

    .hero h1{
        font-size:2rem;
    }
}